
h1, h2, h3 {
    display: inline;
    margin-right: 20px;
    text-align: center;
    text-decoration: black;
}

.headers {
    display: flex;
    gap: 20px;
    align-items: center;
}
.title{
    text-align: center;
}

nav  {
    ul {
        display: flex;
        gap: 1rem;
    }
    li {
        list-style: none;
    }


}

.image-container {
    position: page;
    display: inline-block;
    width: 100%;
}

.image-container img {
    display: flex;
    width: 100%;
    height: auto;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    text-align: center;
    padding: 10px;
}

.pink {
    text-decoration: none;
    background-color: lightblue;
    padding: 60px;
    border: black;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.midden{
    line-height: 1.2;
}

nav {
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
}


nav ul {
    list-style-type: none;
    margin: 1rem;
    padding: 0rem;
    display: flex;
}

nav ul li {
    flex: 1;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2rem;
    text-decoration: none;
    transition: background-color 0.3s;
}


nav ul li a:hover {
    background-color: #575757;
}


.content {
    padding: 1rem ;
}

.logo {
   text-decoration: lightblue;
}

p {
    text-align: center;
}

.top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    z-index: 1000;
}
footer {
    background: var(--dark-blue);
    color: white; padding: 70px 5% 30px;
}
.footer-grid {
      max-width: 1150px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}
.footer-column h3 {
    color: var(--yellow);
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 18px;
}
.footer-column p {
    color: #b6c3c8;
    font-size: 14px;
    line-height: 1.8;
}
.footer-bottom {
    max-width: 1150px;
    margin: 50px auto 0;
    padding-top: 20px;
    border-top: 1px solid rgba(255,255,255,.15);
    color: #82929a;
    font-size: 12px;
}